* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

/* common styles of font */

.navbar a {
    font-family: "IBM Plex Serif", serif;
    font-weight: 200;
    font-style: normal;

    opacity: 90%;
}

h5 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'benz';
    src: url('./Fonts/benz_grotesk/Benz\ Grotesk.ttf') format('truetype');
}

h1 ,h4 {
    font-family: 'benz', sans-serif;
}

body {
    background-color: black;
}

/* navbar section */
.navbar {
    background-color: #3a3a3a !important;
    padding: 20px 0px;
    height: 15vh;


    opacity: 0;


    animation-delay: 3s;
    animation-name: navbar;
    animation-duration: 1s;
    animation-fill-mode: forwards;


}

@keyframes navbar {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.navbar a {
    color: white !important;
}

.dropdown-menu {
    background-color: #252525 !important;
}

.navbar h5 {
    color: white;
    opacity: 85%;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-left: 10px;

}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(247, 236, 236, 0.3);
    /* soft white glow */
}


/* Apply only on screens smaller than 992px */
@media (max-width: 991.98px) {
    .navbar-collapse {
        background: rgba(255, 255, 255, 0.1);
        /* Transparent white */
        backdrop-filter: blur(10px);
        /* Glass effect */
        -webkit-backdrop-filter: blur(10px);
        /* Safari support */
        border-radius: 5px;
        padding: 1rem;
        margin-top: 10px;
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
        z-index: 999 !important;
    }

    .navbar {
        position: relative;
        z-index: 1000;
    }
}

/* navbar section ends ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */




/* banner section starts */
.banner {
    background-color: black;
    height: 90vh;
}

.img-container {
    animation-name: im-contain;
    animation-duration: 3s;
    animation-fill-mode: forward;
    animation-timing-function: ease-in-out;

}

@keyframes im-contain {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.banner .img-layer-1 {
    position: absolute;
    left: 4%;
    top: 120px;
    width: 40%;

    z-index: 1;
    animation-name: rotate;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.banner .img-layer-2 {
    position: absolute;
    left: 4%;
    top: 120px;
    width: 40%;

    z-index: 2;
    animation-name: im-2;
    animation-duration: 8s;
    animation-fill-mode: forward;
    animation-timing-function: ease-in-out;
}

@keyframes im-2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.banner h1 {
    margin-top: 200px;
    color: white;
    opacity: 0;

    animation-delay: 4s;
    animation-name: banner-head;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes banner-head {
    from {
        transform: translate(0px, 100px);
        opacity: 0;
    }

    to {
        transform: translate(0px, 0px);
        opacity: 0.8;
    }
}

.banner p {
    color: white;
    text-align: justify;
    opacity: 0;
    line-height: 22px;

    animation-delay: 4s;
    animation-name: banner-para;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes banner-para {
    from {
        transform: translate(0px, 100px);
        opacity: 0;
    }

    to {
        transform: translate(0px, 0px);
        opacity: 0.7;
    }
}


/* media query */
@media (min-width:768px) and (max-width:992px) {
    .banner .img-layer-1 {
        position: absolute;
        left: 5%;
    }

    .banner .img-layer-2 {
        left: 5%;
    }

    .banner h1 {
        margin-top: 100px;
        color: white;
    }
}

@media (max-width:768px) {
    .banner .img-layer-1 {
        position: absolute;
        left: 30%;
    }

    .banner .img-layer-2 {
        left: 30%;
    }

    .banner h1 {
        margin-top: 300px;
        color: white;
    }
}

@media (max-width:600px) {
    .banner-content h1 {
        margin-left: 5%;
        margin-top: 250px;
    }

    .banner-content p {
        max-width: 90%;
        margin-left: 5%;
    }
}

/* banner section ends ------------------------------------------------------------------------------------------------------------------------------------------ */


/* film section starts */
.film {
    position: relative;
    background-image: url('./Images/filmset.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
    width: 100%;
    height: 100%;
}

.film-wrapper {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3.5px);
    background-color: rgba(3, 3, 3, 0.4);
    /* for slight dark opacity */
    z-index: 1;
}

.film-wrapper h1 {
    opacity: 0.8;
    color: white;
}

.film-wrapper p {
    opacity: 0.7;
    color: white;
    text-align: justify;
}

.film-wrapper button {
    padding: 6px 14px;
    border: none;
    border-radius: 3px;
    backdrop-filter: blur(5px);
    background-color: rgba(250, 248, 248, 0.4);
    /* for slight dark opacity */
    color: white;
    margin-top: 5px;
}

@media (max-width:600px) {
    .film-wrapper {
        padding: 0px 30px;
    }
}

@media (max-width:992px) {
    .film {
        min-height: 100vh;
    }
}

@media (max-width:768px) {
    .film {
        min-height: 130vh;
    }
}

@media (max-width:537px) {
    .film {
        min-height: 140vh;
    }
}

@media (max-width:450px) {
    .film {
        min-height: 160vh;
    }
}

@media (max-width:415px) {
    .film {
        min-height: 170vh;
    }
}

@media (max-width:380px) {
    .film {
        min-height: 185vh;
    }
}


.film-wrapper>div>div>div:nth-child(1) {
    animation-name: film-column1;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range: entry;

}

@keyframes film-column1 {
    from {
        transform: translate(0px, 100px);
        opacity: 0;
    }

    to {
        transform: translate(0px, 0px);
        opacity: 0.9;
    }
}


.film-wrapper>div>div>div:nth-child(2) {
    animation-name: film-column2;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range: entry;

}

@keyframes film-column2 {
    from {
        transform: translate(0px, 100px);
        opacity: 0;
    }

    to {
        transform: translate(0px, 0px);
        opacity: 0.9;
    }
} 
/* film section ends ------------------------------------------------------------------------------------------------------------------------------------------------------- */






/* partner section start */
.partner{
    padding: 30px 0px;
    background-color: rgb(67, 67, 67);
}
.partner img{
    width: 100px;
    margin: 0px 20px;
}
.partner h1 {
    opacity: 70% !important;
    color: white;
}

.partner p {
    opacity: 68% !important;
    color: white;
    text-align: justify;
}
@media (max-width:600px) {
    .partner {
        padding: 30px 30px;
    }
}



/* footer section */
.footer{
    padding: 30px 0px;
    background-color: black;
    color:gray;
}

.footer h1, .footer h6 , .footer p{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer a{

    text-decoration: none;
    color:gray;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.rights{
    border-top: 1px solid gray;
    padding-top: 30px;
    margin: 30px 0px;
}
.iconsed>div{
margin: 10px 0px;
}
@media (min-width:768px) {
    .h6-foot{
     margin-left: 50px;
    }
}
@media (max-width:768px) {
   .logo-foot>img{
    width: 200px;
    margin-bottom: 20px;
   }
   .footer h6{
    margin-top: 20px;
   }
}

@media (max-width:768px) {
    .footer>div:nth-child(1)>div>div{
        text-align: center;
    }
    .h6-foot{
        margin-top: 20px;
        margin-right: 0px;
    }
    .icon-use>i{
        margin-right: 5px;
    }
    .fa-square-instagram{
        margin-left: 8px;
    }
    .fa-square-youtube{
        margin-right: 8px;
    }
}

/* footer section end ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
